.fraction {
    font-size: 3em;
}
.fraction.top {
    font-size: 55%;
    vertical-align: 50%;
}
.fraction.bottom {
    font-size: 50%;
}
.story-list {
    margin: 0;
    list-style: none;
}
.story, .options {
    margin: 10px;
    padding: 10px;
}
.story {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}
.story[data-state=started] {
    background-color: rgba(224, 226, 229, 1);
}
.story[data-state=finished] {
    background-color: rgba(32, 62, 100, 0.2);
}
.story[data-state=delivered] {
    background-color: rgba(243, 147, 0, 0.2);
}
.story[data-state=accepted] {
    background-color: rgba(98, 146, 0, 0.2);
}
.story[data-state=rejected] {
    background-color: rgba(167, 31, 57, 0.2);
}

pre {
	white-space: pre-wrap;
}

.comment {
	background-color: white;
}

.comment pre {
	padding: 10px;
}

.graph {
    max-width: 400px;
    position: relative;
    margin-top: 24px;
}

.graph .bar {
    display: flex;
    flex-direction: row;
    position: relative;
}

.graph .total {
    position: absolute;
    bottom: 68px;
    left: 0;
    right: 0;
    height: 16px;
}

.graph .total:before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: black;
    left: 50%;
    top: 100%;
    height: 12px;
}

.graph .bar:before {
    content: ' ';
    border: 1px solid black;
    border-bottom: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -12px;
    height: 12px;
}

.bar-graph-segment {
    height: 12px;
    transition(flex-grow 0.2s ease-out, flex-shrink 0.2s ease-out);

    margin-bottom: 32px;

    position: relative;
}

.bar-graph-segment:before {
    position: absolute;
    
    content: '';
    display: block;
    top: 12px;
    left: 1px;
    right: 1px;
    height: 12px;
    border: 1px solid black;
    border-top: none;
    box-sizing: border-box;
}

.bar-graph-segment .label{
    position: absolute;
    display: block;
    left: 1px;
    top: 24px;
    right: 1px;
    height: 12px;
    padding-top: 12px;
    text-align: center;
}

.bar-graph-segment .label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    width: 1px;
    border-left: 1px solid black;
    height: 12px;
}

.graph .total {
    text-align: center;
}

.bar-graph-segment.incomplete {
    background-color: red;
}

.bar-graph-segment.complete {
    background-color: green;
}
